.App {
  background: #efefef;
  padding: 0 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.content-area{
  background: #fff;
}
.App-link {
  color: #09d3ac;
}
